@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

@font-face {
  font-family: "SnellRoundhand";
  src: url("../fonts/SnellRoundhand.ttc");
}

html,
body {
  @apply bg-dark-blue dark:bg-gray-900 font-default;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

.header-slant::before {
  content: "";
  height: 100%;
  width: 40px;
  transform: rotate(-20deg);
  left: -25px;
}

.header-slant::before {
  @apply absolute bg-dark-blue z-20;
}


.spinner {
  @apply border-gray-200;
  border-top-color: #0F1217;
}

.markdown {
  @apply my-10;
}

.markdown h2 {
  @apply text-2xl font-semibold mb-4 mt-6;
}

.markdown h3 {
  @apply text-xl font-semibold mb-4 mt-6;
}

.markdown p {
  @apply my-2;
}

.markdown strong {
  @apply mb-2 mt-4 block;
}

.markdown ul {
  @apply ml-6;
}

.markdown ul li {
  @apply list-disc;
}

.markdown ul li p {
  @apply my-auto;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
header picture {
  @apply h-full
}

.header-top-left {
  @apply lg:items-start lg:justify-start
}

.header-mid-left {
  @apply lg:items-center lg:justify-start
}
